/* Geral */

* {
    padding: 0;
    margin: 0;
	background-color: #FFC8DD;
}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


Header
.header-bar {
    display: flex;
    background-color: #BDE0FE;
    height: 50px;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	margin: 10px;
}


/*  Header
    Links   */

.link-nav {
	display: flex;
	align-items: center;
	justify-content: center;
    color: rgb(255, 255, 255);
	background-color: #BDE0FE;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
	width: 150px;
	height: 100%;
    transition: 0.3s;
}

.link-nav:hover {
	background-color: white;
    color: #FFAFCC;
}